@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Patrick+Hand&display=swap');

body{
  font-family: 'Patrick Hand', cursive;
}

nav.primary-navbar{
  padding: 2rem;
  display: flex;
  background-color: DAF7A6;


}
nav.primary-navbar img{
    max-width:20%;
    height:auto;
    background-color: DAF7A6;


}
nav.primary-navbar ul.nav{
  display: flex;
    Padding: 0;
    list-style-type: square;
    word-spacing: 5rem;
    font-size: 2rem;
    font-weight: 600;


}
nav.primary-navbar ul.nav li.a {
    display:flex;
    Padding:0.5rem 1rem;
    list-style-type: square;

    
}
footer.primary-footer img{
    max-width:20%;
    height:auto;
    background-color: DAF7A6;
}
section.hero img{
    max-width:9%;
    height:auto;
}
