@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Patrick+Hand&display=swap');

body{
  font-family: 'Patrick Hand', cursive;
}

nav.primary-navbar {
  padding: 1rem;
  display: flex;
  background-color: #DAF7A6;
}

}

nav.primary-navbar a{
    color: black;
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav.primary-navbar h1 {
   text-align: center;
   position: relative;
   bottom: 80px;

}

nav.primary-navbar p {
   text-align: center;
   position: relative;
   bottom: 85px;
   flex direction: column;
   Padding: 0;
}
nav.primary-navbar div.brand a img {
    max-width:15%;
    height:auto;    
    padding: 0;

}


Section.hero {
    width: 100vw;
    height: 100vh;
}

section.hero div {
    text-align: center;
   position: center;
}

section.hero div img{
    display: inline-block;
    height: 15rem;
}

section.hero ul.nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    text-decoration: none;
}
section.hero ul.nav-tabs li a {
    color:  black;
    display: flex;
    list-style: none;
    padding: 2rem 5.85rem;
    text-decoration: none;

}


footer.primary-footer {
  padding: 2rem;
  display: flex;
}

footer.primary-footer div.logo a img { 
    display: inline-block;
    height:6rem;

}

footer.primary-footer ul.socialnav {
    color:  black;
    display: flex;
    list-style: none;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 2rem;
    text-decoration: none;

}
footer.primary-footer ul.socialnav li a {
    color:  black;
    display: flex;
    list-style: none;
    padding: 2rem 5.85rem;
    text-decoration: none;
}

Section.hero {
    width: 100vw;
    height: 100vh;
}

section.hero-products div {
   color: black;
   text-align: center;
   position: center;
   text-decoration: none;

}

section.hero-products div img{
    display: inline-block;
    height:6rem;
    margin: 2rem;
    text-decoration: none;
    color: black;
}

section.hero-products ul.nav-tabs-products {
    display: flex;
    list-style: none;
    padding: 0;
    text-decoration: none;
    color:  black;
    display: flex;
    list-style: none;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 2rem;

}
section.hero-products ul.nav-tabs-products li a {
    color:  black;
    display: flex;
    list-style: none;
    padding: 2rem 5.85rem;
    text-decoration: none;
}

section.hero-products a img p {
 width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
  color: black;
}


@media screen and (min-width 1024px){
nav.primary-navbar{
    padding: 0
}

@media screen and (min-width 375px){
nav.primary-navbar{
    padding: 0
}

@media screen and (min-width 375px){
nav.primary-navbar a{
    padding: 0

